<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/config.xsd">
    <default>
        <customattribute>
            <settings>
                <enable>1</enable> <!-- Default value set to enabled (1) -->
            </settings>
        </customattribute>
    </default>
</config>
